<!DOCTYPE html>
<html>
<head>
  <title>MongoRailsApp Backend</title>
  <%= stylesheet_link_tag    "backend", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "backend", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>backend layout</div>
<div class="container" ng-app="storiesApp">
  <div class="flash-messages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= yield %>

</div>
</body>
</html>
